* {
    padding: 0;
    margin: 0;
}

.signin-button {
    background-color: #484848;
    color: white;
    font-weight: 500;
    border: none;
    padding: 7px 14px;
    border-radius: 5px;
    margin: 9px;
    position: relative;
    left: 25px;
    top: 25px;
}

.signup-button {
    border: none;
    background-color: white;
    color: blue;
    text-decoration: underline;
}

.username {
    position: absolute;
    right: 40px;
    top: 20px;
    display: flex;
    flex-flow: row-reverse;
}

.username p {
    font-size: 20px;
    color: gray;
    font-weight: 100;
}

.logout {
    background-color: #484848;
    color: white;
    border: none;
    padding: 1px 14px;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    margin-left: 30px;
}
.table{
    margin-top: 100px !important;
}
.content-table {
    width: 100%;
    background-color: #eceaee;
    margin-top: 50px;
    border: 1px solid #d7d7d7;

}

.content-table th {
    text-align: left;
    padding: 15px;
}

.content-table td {
    width: 100px;
    height: 60px;
    padding: 15px;
}

.content-table tr:nth-child(2n) {
    background-color: #fff;
}

.content-table tr:nth-child(2n) td {
    border-left: 1px solid #d7d7d7;
}

.content-table tr:nth-child(2n-1) td {
    border-left: 1px solid #d7d7d7;
}

.form {
    width: 440px;
    background-color: #eceaee;
    padding-top: 25px;
    margin: 50px auto;
    position: relative;
}

.form p {
    text-align: center;
}

.form input {
    width: 367px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
    margin-left: 30px;
}

.form textarea {
    border: 1px solid #d7d7d7;
    margin-left: 30px;
}
.select-user{
    margin-top: 25px;
    border: none;
    outline: none;
    width: 83%;
    margin-left: 31px;
}
.option-user{

}
.option-user p{

}
.option-user:nth-child(2n){
    background: white;
}

.option-user:nth-child(2n-1){
    background: #eceaee;
}
.option-user a{

}

.form input[type="submit"] {
    background-color: #d8d2dd;
    margin-top: 25px;
}


.admin-tools {
    width: 75px;
}

.admin-textarea {
    width: 100%;
    border: none;
    background: none;
    resize: none;
    outline: none;
}

td.admin-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: none;
}

.admin-buttons button {
    border: none;
    background: none;
}

.delete-icon {
    cursor: pointer;
}

.delete-but {
    display: none;
}

.delete-but p {

}

.delete-task-yes {
    color: green;
    margin-right: 10px;
}

.delete-task-no {
    color: red !important;
    border: none;
    background: none;
    cursor: pointer;
}

div.sort{
    background-image: url("../images/sort.png");
    background-repeat: no-repeat;
    background-size: 80%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: 2px solid #f3f3f3;
    transition: 0.2s;
    border-radius: 3px;
    background-position: center;
}
div.sort:hover{
border: 2px solid #d6d6d6;
}